a.btn
{
	margin: 30px 10px;
	width: 150px;
	padding: 10px;
	border: 1px solid transparent;
}
a.button:active 
{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
 } 

a.btn-first
{
	background-color: darkorange;
	color: #fff;
}

a.btn-sec
{
	background: transparent;
	border: 1px solid darkorange;
	color : #333;
}
a.btn:hover;
{
	background: darkorange;
	border: none;
	color: #fff;
	box-shadow: 5px 5px 10px #999;
	transition: 0.3s;
}