/* 
	Color Pallete
	#10E7DC - cyan
	#0074E1 - cyan-blue
	#1B9CE5 - ocean blue
	#6CDAEE - sky blue
	#F79E02 - brown-orange

 */

*{
	margin: 0;
	padding: 0;
}

header
{
	height: 100vh;
}

body 
{
 	background-image: url("6.png");
 	background-color: #cccccc;
}
.navbar-style
{
	box-shadow: 0 5px 100px #efefef;
}

.logo
{
	height: 80px;
	padding: 2px;
}

.container
{
	border-radius: 5px;
  	border: 3px solid #ececec;
  	padding: 20px;
  	margin: 1px;
}

.icon-bar
{
	background: #F79E02;
}

li a 
{
	color: #333;
}

.intro-1
{
	font-size: 25px;
	margin: 20px 0;
	color: #303c6c;
}

.big-text
{
	font-size: 40px;
	font-family: arial black;
	margin: 20px 0;
	color: white;
}